<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nex Gen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/app.css">
</head>

<body>
    <div class="container">
        <div id="root">
            <!-- header section -->
            <header>
                <!-- grey bar -->
                <div class="greybarcontainer">
                    <div class="grey_bar">
                        <div class="hours">
                            <i class="fas fa-clock"></i>
                            <p>Open Hours: Mon - Sat - 9:00 - 18:00</p>
                        </div>
                        <div class="contacts">
                            <p class="number">
                                <i class="fas fa-phone"></i>
                                +1 (305) 1234-5678
                            </p>
                            <p class="mail">
                                <i class="fas fa-envelope"></i>
                                hello@example.com
                            </p>
                            <p class="icons">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-linkedin-in"></i>
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /grey bar -->
                <!-- jumbotron -->
                <div class="jumbo_test">
                    <div class="container_test">
                        <div class="navbar_test">
                            <div class="logo">
                                <img src="./dist/img/logonexgen.svg" alt="Nexgen">
                            </div>
                            <div class="navbar_sites">
                                <a v-for="link in navbar" href="">{{link.name}}</a>
                                <a href=""><i class="far fa-user"></i></a>
                                <span class="btn" href="">GET IN TOUCH</span>
                            </div>
                        </div>
                        <div class="jumbomain_test">
                            <h4>LOGISTICS SERVICES</h4>
                            <H1>CARGO TRANSPORT</H1>
                            <p>Fractional or exclusive road cargo transportation to all regions, with small, medium and
                                large vehicles</p>
                            <span class="btn">GET IN TOUCH</span>
                            <span class="btn_outline">READ MORE</span>
                        </div>
                    </div>
                </div>
                <!-- /jumbotron -->
            </header>

            <!-- /header section -->

            <!-- main section -->
            <main>
                <!-- white section -->
                <div class="white_section">
                    <div class="left_side">
                        <h4>WHO WE ARE</h4>
                        <h2>
                            <span class="green_text"><i class="far fa-gem"></i> Excellence</span> in Transport
                        </h2>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid ipsa
                            autem inventore, aliquam exercitationem..</p>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum
                            officia facilis culpa incidunt id quasi quidem veritatis quod amet?</p>
                        <p class="bordered_p"><i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel similique
                                a, illum odio fuga itaque tenetur, ratione earum possimus magni modi accusantium autem
                                ea distinctio!</i></p>
                        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
                            officiis illo eius aut. Quibusdam.</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
                        </ul>
                    </div>
                    <div class="right_side">
                        <h4>Vehicle Types</h4>
                        <div class="card">
                            <div class="media_image">
                                <img src="./dist/img/truck-1.png" alt="">
                            </div>
                            <div class="media_text">
                                <h4 class="weight">Light</h4>
                                <span class="description">Max Weight 1200 kg</span>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="media_image">
                                <img src="./dist/img/truck-1.png" alt="">
                            </div>
                            <div class="media_text">
                                <h4 class="weight">Medium</h4>
                                <span class="description">Max Weight 6000 kg</span>
                            </div>
                        </div>
                        <hr>
                        <div class="card">
                            <div class="media_image">
                                <img src="./dist/img/truck-1.png" alt="">
                            </div>
                            <div class="media_text">
                                <h4 class="weight">Heavy</h4>
                                <span class="description">Max Weight 24000 kg</span>
                            </div>
                        </div>
                        <div class="certifications">
                            <h4>Certifications</h4>
                            <img src="./dist/img/certificate.png" alt="">
                            <img src="./dist/img/certificate.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- main services -->
                <div class="main_services">
                    <div class="wrapper">
                        <div class="text">
                            <h4>ROAD TRANSPORT</h4>
                            <h2>Main <span class="bg_darkgreen"> Services </span></h2>
                            <div class="wrapper_2">
                                <p>With all of this expertise and capability comes an unrivalled commitment to customer
                                    service. We will work hard to understand your needs in order to develop a
                                    productive,
                                    long-term partnership.</p>
                                <a class="btn_outline">SEE ALL</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card">
                                <div class="upper">
                                    <i class="fas fa-truck-loading"></i>
                                    <i class="fas fa-arrow-right"></i>

                                </div>
                                <div class="lower">
                                    <h3>Technology</h3>
                                    <p>We are continually focused on developing technology solutions adapted to our
                                        client's needs.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="upper">
                                    <i class="fas fa-temperature-low"></i>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                                <div class="lower">
                                    <h3>Reefer Cargo</h3>
                                    <p>Regular and frequent monitoring from the receipt of the loaded container to final
                                        destination.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="upper">
                                    <i class="fas fa-boxes"></i>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                                <div class="lower">
                                    <h3>Dry Cargo</h3>
                                    <p>We work with most types of dry cargo, from valuable cargo to the most dangerous
                                        requiring care.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- procedure section -->
                <div class="procedure_section">
                    <div class="first_row">
                        <h4>How it works in practice</h4>
                        <h2><span class="green">Logistical</span> Procedure</h2>
                        <p>We work with innovative methodologies to ensure that the entire delivery process is done from
                            start to finish as planned.</p>
                    </div>
                    <div class="second_row">
                        <div class="green_bar"></div>
                        <div class="dotted_numbers">01</div>
                        <div class="green_bar"></div>
                        <div class="dotted_numbers">02</div>
                        <div class="green_bar"></div>
                        <div class="dotted_numbers">03</div>
                        <div class="green_bar"></div>
                        <div class="dotted_numbers">04</div>
                        <div class="green_bar"></div>
                        <div class="dotted_numbers">05</div>
                        <div class="green_bar"></div>

                    </div>
                    <div class="third_row">
                        <div class="section">
                            <h4>Collection of information</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="section">
                            <h4>Service Invoice Sending</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="section">
                            <h4>Withdrawal of Cargo</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="section">
                            <h4>Transport Customer Order</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                        <div class="section">
                            <h4>Successful Delivery</h4>
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
                <!-- results section -->
                <div class="results">
                    <img src="./dist/img/bg-10.jpg" alt="">
                    <div class="bring_me_there">
                        <div class="results_text">
                            <h4>What are we doing</h4>
                            <h2><span class="green">Results</span> in Numbers</h2>
                        </div>
                        <div class="results_numbers">
                            <div class="numbers">
                                <p>128</p>
                                <p>Certifications</p>
                            </div>
                            <div class="numbers">
                                <p>230</p>
                                <p>Employees</p>
                            </div>
                            <div class="numbers">
                                <p>517</p>
                                <p>Customers</p>
                            </div>
                            <div class="numbers">
                                <p>94</p>
                                <p>Countries Served</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- feedback section -->
                <div class="feedback">
                    <div class="upper">
                        <h4>Customer Testimonials</h4>
                        <h2>Trusted <span class="green">Feedback</span></h2>
                        <p>We work intensively in search of ideals that can add up in the lives of our customers. This
                            is what moves us and we are grateful for the recognition.</p>
                    </div>
                    <div class="lower">
                        <div class="cards">
                            <div class="card">
                                <img src="./dist/img/logo-1.png" alt="Woo Commerce Logo">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reiciendis molestias
                                    porro veritatis eveniet illum ea. Natus?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <i class="fas fa-quote-right"></i>
                            </div>
                            <div class="card">
                                <img src="./dist/img/logo-2.png" alt="Wordpress Logo">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reiciendis molestias
                                    porro veritatis eveniet illum ea. Natus?</p>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <i class="fas fa-quote-right"></i>
                            </div>
                            <div class="card">
                                <img src="./dist/img/logo-3.png" alt="Pingdom Logo">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reiciendis molestias
                                    porro veritatis eveniet illum ea. Natus?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form section -->
                <div class="contact_me">
                    <div class="form_side">
                        <h4>Send a message</h4>
                        <h2>Get in <span class="green">Touch</span></h2>
                        <p>We will respond to your message as soon as possible</p>
                        <div class="form_section">
                            <div class="main-block">
                                <form class="form">
                                    <div class="info">
                                        <input class="fname" type="text" name="name" placeholder="Name">
                                        <input type="text" name="name" placeholder="Email">
                                        <input type="text" name="name" placeholder="Phone">
                                        <input type="text" name="name" placeholder="More info">
                                    </div>
                                    <div class="textarea">
                                        <textarea  placeholder="Message"></textarea>
                                    </div>
                                    <span class="btn"><a href="">Send</a></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="example_side">
                        <h3>Example Inc.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, corporis!</p>
                        <p class="number">
                            <i class="fas fa-phone"></i>
                            +1 (305) 1234-5678
                        </p>
                        <p class="mail">
                            <i class="fas fa-envelope"></i>
                            hello@example.com
                        </p>
                        <p class="map">
                            <i class="fas fa-map-marker-alt"></i>
                            Main Avenue, 987
                        </p>
                        <span class="btn_outline">VIEW MAP</span>
                    </div>
                </div>
            </main>
            <!-- /main section -->
            <!-- footer section -->
            <footer>
                <div class="background">
                    <div class="cards">
                        <div class="card">
                            <img src="./dist/img/logonexgen.svg" alt="">
                            <p>A Functional HTML for Corporate & Business</p>
                            <div class="contact">

                                <p class="number">
                                    <i class="fas fa-phone"></i>
                                    +1 (305) 1234-5678
                                </p>
                                <p class="mail">
                                    <i class="fas fa-envelope"></i>
                                    hello@example.com
                                </p>
                                <p>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Main Avenue, 987
                                </p>
                            </div>
                            <span class="btn_outline" href="">GET IN TOUCH</span>
                        </div>
                        <div class="card">
                            <h3>About</h3>
                            <a href="" v-for="about in abouts"><i class="fas fa-chevron-right"></i> {{about.name}}</a>
                        </div>
                        <div class="card">
                            <h3>Transport</h3>
                            <a href="" v-for="transport in transports"><i class="fas fa-chevron-right"></i>
                                {{transport.name}}</a>
                        </div>
                        <div class="card">
                            <h3>Support</h3>
                            <a href="" v-for="support in supports"><i class="fas fa-chevron-right"></i>
                                {{support.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="credits">
                    <div class="credit">
                        <p>Enjoy the low price. We are tracking any intention of piracy.</p>
                        <p><i class="far fa-copyright"></i> 2020 NEXGEN is Proudly Powered by <span
                                style="color: #058283;">Codings</span>.</p>

                    </div>
                </div>
            </footer>
            <!-- /footer section -->

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
</body>

</html>