header{
        .hours:hover{
            color: #058283;
       }
       .number:hover{
        color: #058283;
       }
        .mail:hover{
            color: #058283;
       }
        .icons i:hover{
             color: #058283;
        }
    
}
.jumbo_test{
    .navbar_sites a:hover {
        color: #058283;
        
    }
    .navbar_sites .btn:hover{
        background-color: #08a0a0;
        padding: 1rem 1.25rem;
        font-weight: 600;
    }
}
.jumbomain_test{
    .btn:hover{
        background-color: #08a0a0;
        padding: 1rem 1.25rem;
        font-weight: 600;
    }
    .btn_outline:hover{
        background-color: #08a0a0;
        font-weight: 600;
    }
}
.main_services{
    .btn_outline:hover{
        background-color: #08a0a0;
        border: 1px solid #08a0a0;
    }
    .card:hover{
        transform: translateY(-5%);

        i.fa-arrow-right:hover{
           color: white;
        }
    }
}
.procedure_section{
    .dotted_numbers:hover{
        background-color: #058283;
            color: #CCE3DE;
            font-size: 1.2rem;
            font-weight: 800;
            padding: 0.9rem 1.1rem;
    }
}

.feedback .lower{
    .card:hover{
        transform: translateY(-5%);
    }
}
footer .background{
    .card:hover:not(:first-child){
        transform: translateY(-5%);
        a:hover{
            color: #058283;
        }
        
    }
    .btn_outline:hover{
        background-color: #08a0a0;
    border: 1px solid #08a0a0;
    }
}