header{
        .hours:hover{
            color: #058283;
       }
       .number:hover{
        color: #058283;
       }
        .mail:hover{
            color: #058283;
       }
        .icons i:hover{
             color: #058283;
        }
    
}