.greybarcontainer{
    background-color: $greybar;
}

.grey_bar,
.contacts,
.hours{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.grey_bar{

    width: 75%;
    margin: 0 auto;
    color: $greybar_text;
    padding: 20px;
}
.hours{
    transition: color 1s;
    i{
        padding-right: 6px;
        
    }
}
.contacts{
    p{
        transition: color 1s;
    }
    p i{
        padding-left: 40px;
        
        

    }
    
}
