//color palette
$woodsmoke: #121117;
$woodsmoke: #ffffff;
$midgray: #69696d;
$bluelagoon: #038384;
$silversand: #bcbdbd;
$fountainblue: #52bbbb;
$tussock: #bd9542;
$caferoyale: #74370e;
$graynurse: #e6ece8;
$shark: #191c1e;
$kabul: #604f42;
$breakerbay: #609d9f;
$smaltblue: #59838c;
$bluechill: #16928e;
$seanymph: #719a9c;
$quincy: #5d412a;
$merlin: #403a36;
$bermuda: #7fd2d5;
$greybar: #21333E;
$greybar_text: #C0C3D0;
$green_button_bcgc: #058283;
$bcg_light_grey: #DAECED;

